
.container
  h1 BOLT-SLIDER набор плагинов для создания слайдеров на сайте.

  nav
    ul
      li
        p #[a(href="/") Описание проекта]
      li
        p #[a(href="/slider/light/") Простой слайдер.] Слайдер с минимальным количеством опций.
      li
        p #[a(href="/slider/loop/") Простой слайдер.] Зацикленный.
