.bolt-slider.slider-3.bolt-no-js

	button.prew.prew-3 Назад
	button.next.next-3 Вперед

	.bolt-slider__list-wrap
		.bolt-slider__list
			.bolt-slider__item
				.bolt-slider__content
					p Шифровальщица #[a(href='#') попросту] забыла ряд ключевых множителей и тэгов.
			.bolt-slider__item
				.bolt-slider__content
					p Съешь ещё этих мягких #[a(href='#') французских] булок, да выпей [же] чаю. 1234567890.
			.bolt-slider__item
				.bolt-slider__content
					p Щипцами брюки разлохмачу, Гребёнкой волосы взъерошу. Эффектно ожидать удачу До самой смерти я не брошу!
			.bolt-slider__item
				.bolt-slider__content
					p Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с техническими трудностями.
			.bolt-slider__item
				.bolt-slider__content
					p Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций.
			.bolt-slider__item
				.bolt-slider__content
					p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
			.bolt-slider__item
				.bolt-slider__content
					p Шалящий фавн прикинул объём горячих звезд этих вьюжных царств.

	.bolt-slider__pagination.pagination-3
		//- span.bolt-slider__pagination-btn
		//- span.bolt-slider__pagination-btn.bolt-slider__pagination-btn--active
