button.play.play-1 Play/Pause
.bolt-slider.slider-1.bolt-no-js

	button.prew.prew-1 Назад
	button.next.next-1 Вперед

	.bolt-slider__list-wrap
		.bolt-slider__list
			.bolt-slider__item
				.bolt-slider__content
					p Эй, #[a(href='#') цирюльникъ], ёжик выстриги, да щетину ряхи сбрей, феном вошь за печь гони!
			//- .bolt-slider__item
			//- 	.bolt-slider__content
			//- 		img(src="/img/1.jpg", alt="картинка 1")
			//- .bolt-slider__item
			//- 	.bolt-slider__content
			//- 		a(href='#') #[img(src="/img/2.jpg", alt="картинка 2")]
			.bolt-slider__item
				.bolt-slider__content
					p Экс-граф? Плюш изъят. Бьём чуждый цен хвощ!
			.bolt-slider__item
				.bolt-slider__content
					p Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф.
			.bolt-slider__item
				.bolt-slider__content
					p — Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч
			.bolt-slider__item
				.bolt-slider__content
					p В чащах юга жил-был цитрус... — да, но фальшивый экземпляръ!
			.bolt-slider__item
				.bolt-slider__content
					p Южно-эфиопский грач увёл мышь за хобот на съезд ящериц.
			.bolt-slider__item
				.bolt-slider__content
					p Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян.

	.bolt-slider__pagination.pagination-1
		//- span.bolt-slider__pagination-btn
		//- span.bolt-slider__pagination-btn.bolt-slider__pagination-btn--active
