.bolt-slider.slider-2.bolt-no-js

	button.prew.prew-2 Назад
	button.next.next-2 Вперед

	.bolt-slider__list-wrap
		ul.bolt-slider__list
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/1.jpg", alt="картинка 1")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/2.jpg", alt="картинка 2")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/3.jpg", alt="картинка 3")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/4.jpg", alt="картинка 4")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/5.jpg", alt="картинка 5")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/6.jpg", alt="картинка 6")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/7.jpg", alt="картинка 7")
			li.bolt-slider__item
				.bolt-slider__content
					img(src="/img/8.jpg", alt="картинка 8")

	.bolt-slider__pagination.pagination-2
		//- span.bolt-slider__pagination-btn
		//- span.bolt-slider__pagination-btn.bolt-slider__pagination-btn--active
